<div class="about-section">
    <h1>About Us...</h1>
    <p>We are the Clipzs to Share Gaming clips which are the winning moment of the Game....</p>
   
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="assets/img/man2.jpg" alt="Jane" height="150" width="200">
        <div class="container">
          <h2>Nilesh Bhutda</h2>
          <p class="title">CEO & Founder</p>
          <p>Angular and Java Developer</p>
          <p>nileshbhutda@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="assets/img/man1.jpg" alt="Mike" height="150" width="200">
        <div class="container">
          <h2>Charan</h2>
          <p class="title">Art Director</p>
          <p>Full Stack developer</p>
          <p>charan@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="assets/img/aboutImg.jpg" alt="John" height="150" width="200">
        <div class="container">
          <h2>Lilly Ross</h2>
          <p class="title">Designer</p>
          <p>UI / UX designer</p>
          <p>mikeross@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>